.creationContainer {
  background-color: var(--White);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creationHeaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creationHeader {
  font-family: var(--JosefinSans);
  font-weight: 300;
  font-size: 50px;
}

.creationGallory {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 150px 0;
}

.creationButton {
  height: 100%;
  width: 14%;
  padding: 8px;
  background: none;
  border: 2px solid var(--veryDarkGray);
  font-size: 15px;
  font-family: var(--Alata);
  letter-spacing: 4px;
}

.creationButton:hover {
  background-color: var(--black);
  color: var(--White);
  cursor: pointer;
}

.topGallory,
.bottomGallory {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 45px 30px 45px;
}

.galloryImgEarth,
.galloryImgArcade,
.galloryImgSoccer,
.galloryImgGrid,
.galloryImgAbove,
.galloryImgBorealis,
.galloryImgCuriosity,
.galloryImgFisheye {
  width: 220px;
  height: 450px;
  font-family: var(--JosefinSans);
  font-weight: 300;
  font-size: 35px;
  color: var(--White);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 2vw 2vw;
  repeat: none;
}

.galloryImgEarth:hover,
.galloryImgArcade:hover,
.galloryImgSoccer:hover,
.galloryImgGrid:hover,
.galloryImgAbove:hover,
.galloryImgBorealis:hover,
.galloryImgCuriosity:hover,
.galloryImgFisheye:hover {
  opacity: 0.25;
  color: var(--black);
  cursor: pointer;
}

.galloryImgEarth {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgArcade {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgSoccer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgGrid {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgAbove {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgBorealis {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgCuriosity {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galloryImgFisheye {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .galloryImgEarth,
  .galloryImgArcade,
  .galloryImgSoccer,
  .galloryImgGrid,
  .galloryImgAbove,
  .galloryImgBorealis,
  .galloryImgCuriosity,
  .galloryImgFisheye {
    width: 18vw;
    height: 40vw;
    font-size: 3vw;
  }
}

@media only screen and (min-width: 810px) {
  .creationMobileButton {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .creationHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .creationContent {
    width: 85%;
  }
  .creationHeader {
    text-align: center;
    font-size: 8vw;
  }
  .creationButton {
    display: none;
  }
  .bottomGallory,
  .topGallory {
    flex-direction: column;
    width: 100%;
  }
  .galloryImgEarth,
  .galloryImgArcade,
  .galloryImgSoccer,
  .galloryImgGrid,
  .galloryImgAbove,
  .galloryImgBorealis,
  .galloryImgCuriosity,
  .galloryImgFisheye {
    width: 100%;
    height: 30vw;
    font-size: 6vw;
    margin-bottom: 20px;
    padding: 0px 0px 20px 20px;
  }
  .galloryHeader{
    width: 50%
  }
  .galloryImgEarth {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
      url("../../images/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgArcade {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgSoccer {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgGrid {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgAbove {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgBorealis {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgCuriosity {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galloryImgFisheye {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("../../images/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
