.leaderContainer {
  height: 810px;
}

.leaderContent {
  height: 100%;
  width: 100%;
  position: relative;
}

.leaderBackdrop {
  position: absolute;
  top: 140px;
  right: -169px;
}

.backdrop {
  width: 731px;
  height: 500px;
}

.leaderInfoContaienr {
  height: 413px;
  width: 464px;
  position: absolute;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  right: -580px;
  top: 300px;
  padding: 5rem 0 0 7rem;
}

.leaderHeader {
  font-family: var(--JosefinSans);
  font-weight: 300;
  font-size: 50px;
  width: 464px;
}

.leaderInfo {
  width: 23.9vw;
  font-family: var(--Alata);
  color: var(--darkGray);
  font-size: 15px;
  line-height: 25px;
}

@media only screen and (max-width: 1200px) {
  .backdrop {
    width: 50vw;
    height: 37vw;
  }
  .leaderBackdrop{
    top: 140px;
    right: -100px;
  }
  .leaderInfoContaienr {
    width: 36vw;
    height: 25vw;
    right: -500px;
    top: 300px;
  }
  .leaderHeader {
    font-size: 3vw;
    width: 25vw;
    margin-bottom: 5px
  }
  .leaderInfo{
    font-size: 1vw
  }
}
