.leaderContainer {
  height: 810px;
}

.leaderContent {
  height: 100%;
  width: 100%;
  position: relative;
}

.leaderBackdrop {
  position: absolute;
  top: 140px;
  right: -209px;
}

.leaderInfoContaienr {
  position: absolute;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  right: -630px;
  top: 300px;
  padding: 5rem 0 5rem 7rem;
}

.leaderHeader {
  font-family: var(--JosefinSans);
  font-weight: 300;
  font-size: 50px;
  width: 464px;
}

.leaderInfo {
  width: 23.9vw;
  font-family: var(--Alata);
  color: var(--darkGray);
  font-size: 15px;
  line-height: 25px;
}
