.dropdownContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dropdownHeader {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: -275px;
}

.dropdownLinks {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.downLinks {
  color: white;
  font-size: 26px;
  font-weight: 500;
  margin: 10px;
}

