.navbarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 3.3vw 159px 3.3vw 159px;
  width: 100%;
  height: 100%
}

.headerLogo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 56.5%;
}

.navLinks {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.navbarLinkAbout,
.navbarLinkCareers,
.navbarLinkEvents,
.navbarLinkProducts,
.navbarLinkSupport {
  margin: 0;
  color: var(--White);
  font-size: 15px;
  font-family: var(--Alata);
  position: relative;
}

.navbarLinkAbout:hover,
.navbarLinkCareers:hover,
.navbarLinkEvents:hover,
.navbarLinkProducts:hover,
.navbarLinkSupport:hover {
  cursor: pointer;
}

.navbarLinkAbout:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: var(--White);
  bottom: -4px;
  left: 6px;
  right: 0;
}

.navbarLinkCareers:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: var(--White);
  bottom: -4px;
  left: 12px;
  right: 0;
}

.navbarLinkEvents:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: var(--White);
  bottom: -4px;
  left: 6px;
  right: 0;
}

.navbarLinkProducts:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: var(--White);
  bottom: -4px;
  left: 11px;
  right: 0;
}

.navbarLinkSupport:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: var(--White);
  bottom: -4px;
  left: 11px;
  right: 0;
}

@media only screen and (max-width: 1200px) {
  .navbarContent {
    width: 80%;
    padding: 3vw
  }
  .navLinks{
    width: 45%
  }
}
