.footerContainer {
  background-color: var(--black);
  height: 100%;
  width: 100%;
}

.footerContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.leftFooter,
.rightFooter {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leftFooter {
  align-items: flex-start;
  color: white;
  padding: 50px 0 50px 155px;
}

.rightFooter {
  align-items: flex-end;
  color: var(--darkGray);
  padding: 50px 155px 50px 0;
}

.footerLogo {
  height: 24px;
  width: 144px;
  margin-bottom: 25px;
}

.footerLinksContainer {
  height: 100%;
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.footerLinkAbout,
.footerLinkCareers,
.footerLinkEvents,
.footerLinkProducts,
.footerLinkSupport {
  margin: 0;
  color: var(--White);
  font-size: 15px;
  font-family: var(--Alata);
  position: relative;
}

.footerLinkAbout:hover,
.footerLinkCareers:hover,
.footerLinkEvents:hover,
.footerLinkProducts:hover,
.footerLinkSupport:hover {
  cursor: pointer;
}

.footerLinkAbout:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: var(--White);
  bottom: -4px;
  left: 6px;
  right: 0;
}

.footerLinkCareers:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: var(--White);
  bottom: -4px;
  left: 12px;
  right: 0;
}

.footerLinkEvents:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: var(--White);
  bottom: -4px;
  left: 6px;
  right: 0;
}

.footerLinkProducts:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: var(--White);
  bottom: -4px;
  left: 11px;
  right: 0;
}

.footerLinkSupport:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 65%;
  background-color: var(--White);
  bottom: -4px;
  left: 11px;
  right: 0;
}

.socialMediaLinkContainer {
  height: 100%;
  width: 27%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: -5px;
  position: relative;
}

.facebookContainer:hover,
.twitterContainer:hover,
.pinterestContainer:hover,
.instagramContainer:hover {
  cursor: pointer;
}

.facebookContainer:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 16%;
  background-color: var(--White);
  bottom: -4px;
  left: 0;
  right: 0;
}

.twitterContainer:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 16%;
  background-color: var(--White);
  bottom: -4px;
  left: 43px;
  right: 0;
}

.pinterestContainer:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 16%;
  background-color: var(--White);
  bottom: -4px;
  left: 86px;
  right: 0;
}

.instagramContainer:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 16%;
  background-color: var(--White);
  bottom: -4px;
  left: 129px;
  right: 0;
}

.copyright {
  margin-top: 25px;
}

@media only screen and (max-width: 1200px) {
  .footerContainer {
    width: 100%;
  }
  .rightFooter {
    padding: 3vw;
  }
  .leftFooter {
    padding: 3vw;
  }
  .footerLinksContainer {
    width: 100%;
  }
  .socialMediaLinkContainer {
    width: 40%;
  }
  .facebookContainer:hover::after {
    display: none;
  }

  .twitterContainer:hover::after {
    display: none;
  }

  .pinterestContainer:hover::after {
    display: none;
  }

  .instagramContainer:hover::after {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .footerContent {
    flex-direction: column;
    width: 100%;
  }
  .leftFooter,
  .rightFooter {
    align-items: center;
    width: 100%;
  }
  .rightFooter {
    margin-bottom: 60px;
  }
  .footerLogo {
    margin: 10vw 0 10vw 0;
  }
  .footerLinksContainer {
    flex-direction: column;
    align-items: center;
  }
  .footerLinkCareers,
  .footerLinkEvents,
  .footerLinkProducts,
  .footerLinkSupport {
    margin-top: 20px;
  }
  .socialMediaLinkContainer {
    margin-top: 40px;
    width: 45%;
  }
}
